body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;

}
h2 {
  text-align: center;
  color: #333;
}
.to-do-conatiner{
  display: flex;
  flex-direction: column;
}
.to-do-conatiner ul li{
overflow-wrap: break-word;
list-style-type: "👉🏻";
cursor: pointer;
width: 80%;
}

.done{
  text-decoration: line-through;
}
.item{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
input {
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
span {
  cursor: pointer;
  color: red;
}
li.done {
  text-decoration: line-through;
  color: #aaa;
}